<img class="info_img" src="$!company.getFullPicUrl()">
<dl class="info_con">
    <dt class="tr clearfix"><span class="msf fb fl">
        <a href="/company_comment/$!company.id">$!company.name</a>
    </span>  
        <a href="/${company.id}.html" class="homepage">商家主页</a></dt>
    <dd class="cgray"><span class="bigstar b_$!company.getStar() fl"></span></dd>
    <dd class="adstyle">
        $!company.mainArea
    </dd>
    <div class="single_phone">
        <p>免费咨询电话 <span class="cgray">接听时间:24小时 周六,日不休</span></p>
        <ul class="fb">
            <li><i>400</i><i>105</i><i>0050</i>&nbsp;<span class="cgray f12">转</span>&nbsp;<i>$!company.tail</i></li>
        </ul>
    </div>
</dl>