<div class="hot_cate_wrap clearfix">

    <div class="list_height clearfix">
    <div class="business_list">
            #set($channle = $!hotCategories[0])
    #parse("parse/category/sub_categories.vm")

    #set($channle = $!hotCategories[1])
    #parse("parse/category/sub_categories.vm")

        </div>

        <div class="business_list">
            #set($channle = $!hotCategories[2])
    #parse("parse/category/sub_categories.vm")

    #set($channle = $!hotCategories[3])
    #parse("parse/category/sub_categories.vm")

    #set($channle = $!hotCategories[4])
    #parse("parse/category/sub_categories.vm")

        </div>

        <div class="business_list">
            #set($channle = $!hotCategories[5])
    #parse("parse/category/sub_categories.vm")
        </div>
        <div class="business_list">
            #set($channle = $!hotCategories[6])
    #parse("parse/category/sub_categories.vm")

    #set($channle = $!hotCategories[7])
    #parse("parse/category/sub_categories.vm")
        </div>

        <div class="business_list business_list_w180">
            #set($channle = $!hotCategories[8])
    #parse("parse/category/sub_categories.vm")
        </div>
    </div>
</div>
<div class="btm clearfix" style="text-align: right">
    <a href="javascript:void(0)" onclick="showAll()" id="showAll">显示全部<span class="cred">$!allCategoryCounts</span>个行业
    </a>
</div>
