<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>$!seoUrlTitleDesc.title</title>
    <meta name="keywords" content="$!seoUrlTitleDesc.keywords" />
    <meta name="description" content="$!seoUrlTitleDesc.des" />
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/edit.css">
    <script type="text/javascript">

    var if_co='';
    var idorders='';
    var encodingarg = '';
    var href = '/'+ '$!curCategory.name'  + '/';
    var filterArray = new Array();
    var current_channel = '';
    var current_category = '$!curCategory.name';
    var server = 'http://bj.fenfen.com/';
    var url = '';
    var bignum = '$!bigNumberNoHtml';
    var showFilter = new Array();
    var ip='$!userIp';
    var client_receive = Number(new Date()) ;
    var maibaIds = '';
    var pageNumber = '1';
    var sem_client_id = '$!semClientId';
    var showFirst=0;
    var testSrc = 'a';
    </script>
    <script type="text/javascript" src="/resources/js/sem.js"></script>
</head>
<body>
#parse("./header.vm")
<div class="wrap mart20 clearfix">
<div class="main fl">
<div class="breadcrumb rela">
    <em class="lside"></em><em class="rside"></em>
    <span><a href="/" target="_blank">$!curCity.title</a></span><span><a href="/$!curCategory.name" target="_blank">$!curCategory.title</a></span>
    &emsp;&emsp;$!curCity.title最好的$!curCategory.fullTitle
</div>
    #if($!refererMap.size()>0 && $!refererMap['keyword']!='' && $!curCategory.id == 1 )
    <div class="from_tips rela" id="from_tips">
    <dl class=" f13">
        <dt>根据您在$!refererMap['site']的搜索<span class="cred">“$!refererMap['keyword']”</span>分分网提供以下家教学校信息。</dt>
        <dd>通过电话访谈消费者和行业调研，我们收集第一手的用户评价和家教学校信息。</dd>
    </dl>
        <a href="javascript:void(0)" onclick="closeMsg('from_tips');" class="abso close_tips" title="关闭">关闭</a>
    </div>
    #end
    #if($!refererMap.size()>0 && $!refererMap['keyword']!='' && $!curCategory.id != 1 )
    <div class="from_tips rela" id="from_tips">
        <dl class=" f13">
            <dt>根据您在$!refererMap['site']的搜索<span class="cred">“$!refererMap['keyword']”</span>分分网提供以下${curCategory.title}信息。</dt>
            <dd>通过电话访谈消费者和行业调研，我们收集第一手的用户评价和${curCategory.title}信息。</dd>
        </dl>
        <a href="javascript:void(0)" onclick="closeMsg('from_tips');" class="abso close_tips" title="关闭">关闭</a>
    </div>
    #end
<div class="main_top"></div>
<div class="main_con">
    <ul class="category clearfix">
        #foreach($filterGroup in $!filterGroups)
            <li class="clearfix rela">
                <span class="fl">$!filterGroup.title：</span>
                <p class="category_list fl">
                    <a href="/$!curCategory.name/${filterGroup.proFix}"
                       #if($filterGroup.hasFilter == false)
                       class="cred"
                       #end >不限</a>&emsp;
                    #foreach($filter in $!filterGroup.queryFilters)
                        <a href="/$!curCategory.name/${filterGroup.proFix}$!filter.name"
                                #if($filterGroup.checkedFilter == $!filter.name)
                                    class="cred"
                                #end
                                >
                            $filter.title
                        </a>&emsp;
                    #end
            </li>
        #end
        <li class="clearfix rela">

            <span class="fl">&ensp;</span>
            <div class="clearfix"><a href="javascript:void(0)" class="sale">打折商家</a>&emsp;&emsp;<a href="javascript:void(0)" class="gongs">工商证明商家</a>
                <div class="abso scrollwrap">
                    <em class="cred scrollTit fl">为保障您的消费者权益，分分网提醒您：</em>
                    <div id="txtScroll" class="fr">
                        <ul class="txtScroll">
                            <li>关注资质认证商家</li>
                            <li>交易前签订合同</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        #if($filters.size() > 0)
        <li class="myselect clearfix">
            <span class="fl">我选择的：</span>
            <p class="category_list fl clearfix">
                #foreach($select in $!filterGroups)
                    #if($select.hasFilter)
                        <a href="/$!curCategory.name/${select.proFix}">$!select.getSelectedFilter().title</a>
                    #end
                #end
                #if($!filters.contains("isAudit"))
                    <a href="/$!curCategory.name/$!sepFilter['isAudit']">工商证明</a>
                #end
                #if($!filters.contains("hasBenefit"))
                    <a href="/$!curCategory.name/$!sepFilter['hasBenefit']">打折</a>
                #end
            </p>
        </li>
        #end
    </ul>
</div>
<div class="main_btm"></div>
<!--最受关注商家开始-->
<div class="main_top"></div>
<div class="main_con clearfix" style="padding-bottom:0;">
    <div class="focus rela clearfix">
        <h4 class="msf rela">最受关注</h4>
    </div>

    <div class="seller_line"></div>
    #set($reShow = 1)
    #foreach($companyInfo in $!topCompanyInfos)
        #parse("./parse/category_company.vm")
    #end

</div>
<div class="main_btm"></div>
<!--最受关注商家结束-->
<!--其他优秀商家开始-->
<div class="main_top"></div>
<div class="main_con clearfix" style="padding-bottom:0;">
    <div class="otherseller clearfix">
        <h4 class="msf fl">其他优秀</h4>
    </div>

    #set($reShow = 2)
    #foreach($companyInfo in $!companyInfos)
        #parse("./parse/category_company.vm")
    #end

</div>
<div class="main_btm"></div>
<!--其他优秀商家结束-->


<!--最受关注商家开始-->
<div class="recommend">
    <div class="main_top"></div>
    <div class="main_con clearfix" style="padding-bottom:0;">
        <div class="focus rela clearfix">
            <h4 class="msf rela">我们推荐您关注</h4>
        </div>
        #set($reShow = 3)
        #foreach($companyInfo in $!topCompanyInfos)
            #if( $velocityCount > 3 )
                #break
            #end
            #parse("./parse/category_company.vm")
        #end
    </div>
    <div class="main_btm"></div>
</div>

    <!--打折-->
<div class="main_top"></div>
<div class="main_con sale_info">
    <div class="sale_wrap clearfix">
        <h4 class="msf">打折优惠</h4>
        #foreach($discount in $!discounts)
        <dl class="sale_box">
            <dt class="fb"><a href="/dazhe/${curCategory.name}_${discount.id}.html" class="cred">$!discount.title</a></dt>
            <dd class="decri" title="$!discount.content">$!discount.contentDisplay()</dd>
            <dd>发布商家：<a href="/${discount.companyId}.html" class="cblue">$!discount.companyName</a></dd>
        </dl>
        #end
    </div>
    <div class="more tr"><a href="/dazhe/$!curCategory.name/" class="cred">更多>></a></div>
</div>
<div class="main_btm"></div>
<!--打折结束-->
</div>
<div class="sidebar fr">
    <div class="eyes">
        #foreach($goldEye in $!goldAds)
            <a href="$!goldEye.url" title="$!goldEye.title">$!goldEye.imageSrc</a>
        #end
    </div>

    <div class="side_top"></div>
    <div class="side_con">
        <h4 class="msf">最新电话咨询</h4>
        <div id="consult" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; height: 297px; ">
            <ul class="consult">
                #foreach($phoneBill in $!phoneBills)
                    <li>
                        <span>用户 $phoneBill.showCallerPhone()</span>
                        <a href="/${phoneBill.companyId}.html" target="_blank" title="$!phoneBill.companyName">
                            $phoneBill.companyName
                        </a>
                    </li>
                #end
            </ul>
        </div>
    </div>
    <div class="side_btm"></div>
    <div class="blank10"></div>

    <div class="side_top"></div>
    <div class="side_con">
        <h4 class="msf">$!curCategory.title小帖士</h4>
        <ul class="tips_list cgray">
            #foreach($note in $!noteMessages)
                <li><a href="$note.pageUrl($!curCategory.name)">$!note.title</a></li>
            #end
        </ul>
        <div class="more"><span class="cred">$!totalNoteMessages</span>条小贴士 <a href="/jingyan/$!curCategory.name" class="cred">更多>></a></div>
    </div>
    <div class="side_btm"></div>
    <div class="blank10"></div>
    <div class="side_top"></div>
    <div class="side_con">

        <h4 class="msf">用户评价</h4>
        #foreach($categoryComment in $!categoryComments)
            <ul class="r_comment">
                <li class="cgray">用户：$categoryComment.maskPhone()</li>
                <li><span class="smallstar $categoryComment.getStarClass()"><span>非常好<i></i></span></span></li>
                <li class="cgray">$categoryComment.keywords</li>
                <li>$categoryComment.comment</li>
                <li class="cgray"> $date.format("yyyy-MM-dd HH:mm", $!categoryComment.dealTime) | $categoryComment.companyName</li>
            </ul>
        #end
        <div class="more"><span class="cred">$!totalCategoryComments</span>封$!curCity.title$!curCategory.title服务评价 <a target="_blank" href="/userComment.htm?method=byCategory&categoryId=$!curCategory.id" class="cred">更多>></a></div>
    </div>
    <div class="side_btm"></div>
    <div class="blank10"></div>
    <div class="side_top"></div>
    <div class="side_con">
        <p class="cgray hy_info">$!seoUrlTitleDesc.rightTxt</p>
    </div>
    <div class="side_btm"></div>
    <div class="blank10"></div>
    <div class="side_top"></div>
    <div class="side_con">
        <h4 class="msf">${curCategory.title}的用户也看了</h4>
        <ul class="other_hy clearfix">
            #foreach($otherCategory in $!otherCategories)
                <li><a href="/$!otherCategory['Name']" target="_blank">$!otherCategory['Title']</a></li>
            #end
        </ul>
        <div class="more tr"><a href="http://bj.fenfen.com/about/sitemap" target="_blank" class="cred">更多>></a></div>
    </div>
    <div class="side_btm"></div>
</div>
<img src="/resources/images/liuchen.png" alt="流程"/>
</div>
#parse("./footer.vm")
<a href="javascript:void(0)" title="回到顶部" class="home abso" onclick="Top();" id="goTop">回到顶部</a>
<a href="javascript:void(0)" title="收藏" class="addfav abso" onclick="addbookmarksite();setCookie('ff_index','yes');"><span class="rela">现在就收藏本页，方便以后查找！</span><i></i></a>
<a href="http://$!curCity.getFenfenUrl()/about/feedback" target="_blank" title="我要提建议" class="suggest abso">给我们提提建议</a>
<div class="msgbox clearfix" id="favBox">
    <p class="f14 fb">现在就收藏本页，方便以后查找！<br /><span class="cred">分分网-$!curCity.title$!curCategory.title</span>诚信商家。</p>
    <a href="javascript:void(0)" onclick="closeMsg('favBox');$('#mask').remove();addbookmarksite();setCookie('ff_index','yes');" class="btn_addfav">点击收藏</a>
    <a href="javascript:void(0)" onclick="closeMsg('favBox');$('#mask').remove();" class="cblue abso closefav">我知道了&times;</a>
</div>
<script src="/resources/js/jquery-1.4.2.min.js"></script>
<script src="/resources/js/jcarousellite_1.0.1.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/index.js"></script>
<script src="/resources/js/tc.js"></script>
<script type="text/javascript">
    var top_id = '$!topId';

    var loading='<img src="/resources/images/progress.gif" />正在加载，请稍后...';
    var last_load_key = "";

    $(document).ready(function() {
        if(top_id != 0) {
            $("#first_item").parent().show();
            $("#first_item").parent().parent().parent().css("visibility","visible");
            $("#first_item").find("a").eq(0).click();
        }

    });

    function get_content(span, box) {
        var tab = span;
        var company_id = tab.attr("company_id");
        var name = tab.attr("name");
        var method = tab.attr("method");
        var url = "/tab/get_content";
        if(last_load_key == company_id + "_" + name) {
            return;
        }
        var con = box.find(".server_con");
        con.html(loading);

        $.ajax({
            type: "get",
            url: url,
            data: "company_id=" + company_id + "&name=" + name + "&method=" + method,
            success: function(htm) {
                con.html(htm);
                last_load_key = company_id + "_" + name;
            }
        });

    }
</script>

</body>
</html>
