<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>４８家北京搬家公司点评、口碑品质公司推荐</title>
    <meta name="keywords" content="搬家公司 北京,北京搬家公司价格,搬家公司价格,北京搬家公司电话,北京搬家公司,搬家,搬家公司北京,北京 搬家公司,北京搬家,北京 搬家,搬家 北京,北京便宜搬家公司,搬家公司 价格,陶然亭搬家公司,怀柔搬家公司,北京搬家公司便宜,平谷搬家公司" />
    <meta name="description" content="（北京搬家网) - 精选多家北京地区搬家公司…1500辆厢式货车，车多人多，发车快…大件物品、贵重物品专人搬运…快速响应 搬家物品快速打包 按时送到…提供企业搬家、居民搬家、家具拆装、办公室搬迁、长短途搬运...【北京搬家公司电话大全】搬家公司 北京,北京搬家公司价格,搬家公司价格,北京搬家公司电话,北京搬家公司,搬家,搬家公司北京..." />
    <link rel="stylesheet" href="/resources/css/test.css">
    <link rel="stylesheet" type="text/css" href="" id="linkid" />

    <script type="text/javascript">

        var if_co='';
        var idorders='';
        var encodingarg = '';
        var href = '/'+ '$!curCategory.name'  + '/';
        var filterArray = new Array();
        var current_channel = '';
        var current_category = '$!curCategory.name';
        var server = 'http://bj.fenfen.com/';
        var url = '';
        var bignum = '$!bigNumberNoHtml';
        var showFilter = new Array();
        var ip='$!userIp';
        var client_receive = Number(new Date()) ;
        var maibaIds = '';
        var pageNumber = '1';
        var sem_client_id = '$!semClientId';
        var showFirst=0;
    </script>
    <script type="text/javascript" src="/resources/js/sem.js"></script>

</head>
<body>

#parse("./header.vm")

<div class="wrap mart10 clearfix">
<div class="main fl">
    #foreach($company in $companies)
        <div class="list">
            <div class="sj_head abso">
                <a target="_blank" href="$!company.getDisplayUrl()?bn=NDAwLTE2Ni05MDIw&test_src=b">
                    <img src="$!company.getFullPicUrl()" width="100" height="90" />
                </a>
            </div>
            <div class="sj_info clearfix">
                <dl class="info mart10 fl">
                    <dt class="msf f16 fb"><a target="_blank" href="$!company.getDisplayUrl()?bn=NDAwLTE2Ni05MDIw&test_src=b">$!company.name</a>
                        #if($company.isAudit())
                            &emsp;<i class="zz_ico"></i>
                        #end
                    </dt>
                    <dd class="ellipsis">$!company.title</dd>
                    <dd class="cgray">接听时间:$!company.workTime $!company.getWeekendStr()</dd>
                </dl>
                <div class="tel fl fb cgray">$!bigNumber&nbsp;<span class="cgray f12">转</span>&nbsp;<i>$!company.getSingleTail() </i>
##                    <p>最近7天<em class="fb">$!phoneCount[$foreach.count]</em>个电话免费咨询</p>
                </div>
                <div class="fr comment">
                    <p class="tr"><span class="msf f16 percent fb">${countStar[$!company.id].showPercent()}<i class="f16">%</i></span>用户满意</p>
                    <p class="tr"><a href="/company_comment/$!company.id?test_src=b" target="_blank" class="cblue">已有${countStar[$!company.id].total}人评价</a></p>
                </div>
            </div>
        </div>
        <div class="seller_line"></div>
    #end

</div>
<div class="sidebar fr">
    <div class="eyes">
        <a href="http://www.bjtsbj.com/" title="天顺搬家"><img class="img_left" alt="天顺搬家" src="http://i2.j.cn/photo/20121114/e36197efab3.jpg"></a>
    </div>
    <div class="blank10"></div>

    <div class="side_con">
        <h4 class="msf">最新用户咨询</h4>
        <div id="consult">
            <ul class="consult">
                <li>
                    <span>用户 010525793**</span>
                    <a target="_blank" href="http://bj.fenfen.com/10068374.html?bn=NDAwLTE2Ni05MDIw&test_src=b"  title="北京首信搬家公司">
                        北京首信搬家公司                        </a>                    </li>
                <li>
                    <span>用户 189107519**</span>
                    <a target="_blank" href="http://bj.fenfen.com/10068374.html?bn=NDAwLTE2Ni05MDIw&test_src=b" title="北京首信搬家公司">
                        北京首信搬家公司                        </a>                    </li>
                <li>
                    <span>用户 010647585**</span>
                    <a target="_blank" href="http://bj.fenfen.com/10068265.html?bn=NDAwLTE2Ni05MDIw&test_src=b" title="北京利康和谐搬家">
                        北京利康和谐搬家                        </a>                    </li>
                <li>
                    <span>用户 010604032**</span>
                    <a target="_blank" href="http://bj.fenfen.com/10068374.html?bn=NDAwLTE2Ni05MDIw&test_src=b" title="北京首信搬家公司">
                        北京首信搬家公司                        </a>                    </li>
                <li>
                    <span>用户 134666604**</span>
                    <a target="_blank" href="http://bj.fenfen.com/5911.html?bn=NDAwLTE2Ni05MDIw&test_src=b" title="利康和谐搬家">
                        利康和谐搬家                        </a>                    </li>
                <li>
                    <span>用户 010673737**</span>
                    <a target="_blank" href="http://bj.fenfen.com/57366.html?bn=NDAwLTE2Ni05MDIw&test_src=b" title="好弟兄搬家">
                        好弟兄搬家                        </a>                    </li>
                <li>
                    <span>用户 010650648**</span>
                    <a target="_blank" href="http://bj.fenfen.com/10068374.html?bn=NDAwLTE2Ni05MDIw&test_src=b" title="北京首信搬家公司">
                        北京首信搬家公司                        </a>                    </li>
                <li>
                    <span>用户 010673737**</span>
                    <a target="_blank" href="http://bj.fenfen.com/10068170.html?bn=NDAwLTE2Ni05MDIw&test_src=b" title="北京诚信通源搬家">
                        北京诚信通源搬家                        </a>                    </li>
                <li>
                    <span>用户 010673737**</span>
                    <a target="_blank" href="http://bj.fenfen.com/7191.html?bn=NDAwLTE2Ni05MDIw&test_src=b" title="北京千翔搬家">
                        北京千翔搬家                        </a>                    </li>
                <li>
                    <span>用户 010673737**</span>
                    <a target="_blank" href="http://bj.fenfen.com/10068374.html?bn=NDAwLTE2Ni05MDIw&test_src=b" title="北京首信搬家公司">
                        北京首信搬家公司                        </a>                    </li>
                <li>
                    <span>用户 010598333**</span>
                    <a target="_blank" href="http://bj.fenfen.com/10068513.html?bn=NDAwLTE2Ni05MDIw&test_src=b" title="小红帽搬家">
                        小红帽搬家                        </a>                    </li>
                <li>
                    <span>用户 139709945**</span>
                    <a target="_blank" href="http://bj.fenfen.com/7616.html?bn=NDAwLTE2Ni05MDIw&test_src=b" title="风顺搬家">
                        风顺搬家                        </a>                    </li>
            </ul>
        </div>
    </div>

    <div class="blank10"></div>
    <div class="side_top"></div>
    <div class="side_con">
        <h4 class="msf">用户评价</h4>
        <ul class="r_comment">
            <li class="cgray">用户：0136512349**</li>
            <li><span class="smallstar s_five"><span>非常好<i></i></span></span></li>
            <li class="cgray">价格合理 符合搬家时间 沟通较好 符合客户要求</li>
            <li>一个是价格比较合理，搬运的一些时间比较好商量。因为我们当天比较着急，然后找了几家，和他们家谈的还不错，就选择了。价格还比较合理，一个是时间比较灵活，在一个整体搬运来说的话，工人还是比较配合的。只不过就是在实际搬运到场时间上稍微有点偏差，这是稍微有些不满意的地方。</li>
            <li class="cgray"> 2012-10-31 10:24 | 利康和谐搬家</li>
        </ul>
        <ul class="r_comment">
            <li class="cgray">用户：0186181992**</li>
            <li><span class="smallstar s_five"><span>非常好<i></i></span></span></li>
            <li class="cgray">符合搬家时间 就近选择 口碑较好 车型齐全 服务态度好 价格合理 服务态度好 物品保护较好 搬家速度快 搬家准时</li>
            <li>选择他也没啥特别的理由吧，就是时间刚好约好了。像就近选择、口碑较好也比较过，车型齐全、服务态度好、价格合理这些都考虑过。服务态度很好，物品保护的也很好，搬家速度也快，也准时。</li>
            <li class="cgray"> 2012-10-25 10:44 | 北京兄弟友谊搬家</li>
        </ul>
        <div class="more"><span class="cred">312</span>封北京搬家公司评价 <a target="_blank" href="http://bj.fenfen.com/userComment.htm?method=byCategory&categoryId=67" class="cred">更多>></a></div>
    </div>
    <div class="side_btm"></div>
    <div class="blank10"></div>
    <div class="side_top"></div>
    <div class="side_con">
        <h4 class="msf">搬家小帖士</h4>
        <ul class="tips_list cgray">
            <li><a target="_blank" href="http://bj.fenfen.com//jingyan/banjiagongsi_6447.html">如何省心省力搬新家？</a></li>
            <li><a target="_blank" href="http://bj.fenfen.com//jingyan/banjiagongsi_6465.html">老北京搬家费用及影响因素</a></li>
            <li><a target="_blank" href="http://bj.fenfen.com//jingyan/banjiagongsi_6418.html">如何有效的与搬家公司沟通？</a></li>
            <li><a target="_blank" href="http://bj.fenfen.com//jingyan/banjiagongsi_6422.html">【汇总】搬家前后各阶段注意事项</a></li>
            <li><a target="_blank" href="http://bj.fenfen.com//jingyan/banjiagongsi_6448.html">怎样选择搬家公司？</a></li>
            <li><a target="_blank" href="http://bj.fenfen.com//jingyan/banjiagongsi_6459.html">搬家中如何避免纠纷&如何解决纠纷？</a></li>
            <li><a target="_blank" href="http://bj.fenfen.com//jingyan/banjiagongsi_4131.html">乔迁之喜送礼物 行家支招</a></li>
            <li><a target="_blank" href="http://bj.fenfen.com//jingyan/banjiagongsi_6421.html">搬家公司相关术语解析</a></li>
            <li><a target="_blank" href="http://bj.fenfen.com//jingyan/banjiagongsi_6420.html">搬家合同样本&签订合同时注意事项</a></li>
            <li><a target="_blank" href="http://bj.fenfen.com//jingyan/banjiagongsi_5716.html">搬家小手册</a></li>
        </ul>
        <div class="more"><span class="cred">40</span>多条小贴士 <a target="_blank" href="http://bj.fenfen.com/jingyan/banjiagongsi" class="cred">更多>></a></div>
    </div>
    <div class="side_btm"></div>
</div>
    <img src="/resources/images/liuchen.png" alt="流程"/>
</div>


<div class="footer">
    <p class="btm_nav"><a target="_blank" href="http://bj.fenfen.com/about">关于分分网</a>&ensp;|&ensp;<a target="_blank" href="http://bj.fenfen.com/about/faq">常见问题</a>&ensp;|&ensp;<a target="_blank" href="http://bj.fenfen.com/about/duty">权责声明</a>&ensp;|&ensp;<a target="_blank" href="http://bj.fenfen.com/about/feedback">用户反馈</a>&ensp;|&ensp;<a target="_blank" href="http://bj.fenfen.com/about/link">友情链接</a>&ensp;|&ensp;<a target="_blank" href="http://bj.fenfen.com/about/contact">联系我们</a>&ensp;|&ensp;<a target="_blank" href="http://www.langtaojin.com/">浪淘金精准营销平台</a>&ensp;|&ensp;<a target="_blank" href="http://vip.langtaojin.com/">客户后台登陆</a>&ensp;|&ensp;<a target="_blank" href="http://bj.fenfen.com/about/hr">招聘</a>&ensp;|&ensp;<a href="http://bj.fenfen.com/about/privacy" target="_blank">用户隐私声明</a>&emsp;&emsp;&emsp;<span class="site_name">分分网</span></p>

    <p>
        京ICP备08000173号-38 Fenfen.com版权所有 北京市公安局海淀分局备案1101082154</p>
</div>

<a href="javascript:void(0)" title="回到顶部" class="home abso" onclick="Top();" id="goTop">回到顶部</a>
<a href="javascript:void(0)" title="收藏" class="addfav abso" onclick="addbookmarksite();setCookie('ff_index','yes');"><span class="rela">现在就收藏本页，方便以后查找！</span><i></i></a>
<a href="http://bj.fenfen.com/about/feedback" target="_blank" title="联系我们" class="suggest abso">联系我们</a>
<script type="text/javascript">
    var testSrc = 'b';
</script>
<script src="/resources/js/jquery-1.4.2.min.js"></script>
<script src="/resources/js/jcarousellite_1.0.1.js"></script>
<script src="/resources/js/tc.js"></script>
<script>
    function shortcutMenu() {
        var screenW = window.screen.width;
        var fn = function() {
            var nav_offset_top = 120;
            var st = $(document).scrollTop();
            $(".side_nav").css("left",($(window).width()-1200)/2-80);
            if(screen.width<=1024) {
                $(".side_nav").css("left",0);
            }
            if (!window.XMLHttpRequest) {
                $(".side_nav").css("top", st+70);
            }
        };
        $(window).bind("load", fn);
        $(window).bind("scroll", fn);
        $(window).bind("resize", fn);
    }
    function changeWidth() {
        var fn = function() {
            var _w = $(window).width();
            _w<=1024?$("#linkid").attr("href","/resources/css/widthScreen.css"):$("#linkid").attr("href","")
        }
        $(window).bind("load",fn);
        $(window).bind("resize",fn);
    }
    function gotoTop() {
        var fn = function() {
            var st = $(document).scrollTop();
            var winh = $(window).height();
            $(".home,.suggest,.addfav").css("right",($(window).width()-1200)/2-50);
            if(screen.width<=1024) {
                $(".home,.suggest,.addfav").css("right",0);
            }
            (st > 150) ? $(".home").fadeIn() : $(".home").fadeOut();
            if (!window.XMLHttpRequest) {
                $(".home").css("top", st + winh - 220);
                $(".addfav").css("top", st + winh - 150);
                $(".suggest").css("top", st + winh - 100);
            }
        };
        $(window).bind("load", fn);
        $(window).bind("scroll", fn);
        $(window).bind("resize", fn);
    }
    function Top() {
        $("html, body").animate({
            scrollTop : 0
        }, 120);
    }
    function addbookmarksite(title, url) {
        if(arguments.length==0) {
            title = window.document.title;
            url=window.location.href;
        }
        if (document.all) {
            window.external.AddFavorite(url, title);
        } else if (window.sidebar) {
            window.sidebar.addPanel(title, url, "")
        } else {
            alert("对不起，您的浏览器不支持此操作!\n请您使用菜单栏或Ctrl+D收藏本站。")
        }

    }
    $(function() {
        changeWidth();
        shortcutMenu();
        gotoTop();
        $(".side_nav").hover(function() {
                    $(this).addClass("hover");
                },
                function() {
                    $(this).removeClass("hover");
                });
        //城市选择
        $(".city").hover(function() {
                    $(this).addClass("hover");
                },
                function() {
                    $(this).removeClass("hover");
                })
        //导航菜单
        $(".menu").each(function() {
            $(this).hover(function() {
                        $(this).addClass("on");
                    },
                    function() {
                        $(this).removeClass("on");
                    })
        })
        //最新咨询
        if($("#consult")) {
            $("#consult").jCarouselLite({
                btnPrev: "",
                btnNext: "",
                auto: 1500,
                speed: 800,
                visible:9,
                scroll:1,
                onMouse:true,
                vertical:true
		});

	}
})

</script>
</body>
</html>
