<div class="comment_con">
    <p class="tr cgray from"><a href="http://www.cufs.com.cn/" target="_blank" class="cgray">用户评价由第三方专业机构<span><em class="hide">金融联</em></span>通过真实电话回访获得</a></p>
    #foreach($!comment in $!comments)
        #set($companyId = $!comment.companyId)
        <ul>
            <li class="cgray">用户：<a target="_blank" href="/user_comment/r/$!comment.id">$!comment.maskPhone()</a></li>
            <li><span class="smallstar $!comment.getStarClass()" title = "$!comment.getCommentGrade()"></span></li>
            <li class="cgray">$!comment.keywords</li>
            <li>$!comment.userComment()</li>
            <li class="cgray"> $date.format('yyyy-MM-dd HH:mm',$!comment.dealTime)
            </li>
        </ul>
    #end
    <a style="float:right" href="/company_comment/$!companyId" target="_blank" class="cblue" title="去看看更多点评">
        更多点评>>
    </a>
</div>
