#foreach($!comment in $!comments)
<ul>
    <li class="cgray">用户：<a target="_blank" href="/user_comment/r/$!comment.id">$!comment.maskPhone()</a></li>
    <li><span class="smallstar $!comment.getStarClass()" title = "$!comment.getCommentGrade()"></span></li>
    <li class="cgray">$!comment.keywords</li>
    <li>$!comment.userComment()</li>
    <li class="cgray"> $date.format('yyyy-MM-dd HH:mm',$!comment.dealTime)
    </li>
</ul>
#end
