<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>$!company.name怎么样? _关于$!company.name的真实用户点评 -分分网</title>
    <meta name="keywords"
          content="$!company.name,$!category.title,$!city.title$!category.title,$!city.title$!category.title网,$!city.title$!category.title公司"/>
    <meta name="description"
          content="$!company.name怎么样? $!company.name, $!info.mainTitle…关于$!company.name的更多用户点评、服务范围、地址、电话等详细信息请见分分网。"/>
    <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>
#parse("./header.vm")
<div class="wrap mart20 clearfix">
<div class="main fl">
    <div class="breadcrumb rela">
        <em class="lside"></em><em class="rside"></em>
        <span><a href="/" target="_blank">$!city.title</a></span><span><a href="/$!category.name"
                                                                          target="_blank">$!category.title</a></span>&emsp;&emsp;$!company.name
    </div>
    <div class="main_top"></div>
    <div class="main_con">
        <div class="info rela">
            <a href="/${company.id}.html$!suffix" target="_blank"><img class="info_img"
                                                               src="http://i2.j.cn/$!info.getPicUrl()"/></a>
            <dl class="info_con">
                <dt class="tr clearfix"><a href="/${company.id}.html$!suffix" target="_blank"><span
                        class="msf fb fl">$!company.name</span></a>&emsp;&emsp;<a href="/${company.id}.html$!suffix"
                                                                                  class="homepage"
                                                                                  target="_blank">商家主页</a></dt>
                <dd class="cgray">
                    <span class="big_gray_star"><i class="bigstar b$!info.getStar()"></i></span>
                    $!info.total封点评
                </dd>
                <dd class="cred">
                    #foreach($keyword in $!info.keyword)
                        #if($velocityCount<6)
                            $!keyword.keyword
                        #end
                    #end
                </dd>
                <dd>$!info.mainTitle</dd>
                $!info.mainArea
                <dd class="tel">
                    <div class="single_phone">
                        <p>免费咨询电话
                            <span class="cgray">
                            接听时间:
                            $!info.workTime
                            #if($!info.weekend == 'no')
                                周六,日不休
                            #else
                                周六,日休息
                            #end
                            </span>
                        </p>
                        <ul class="fb">
                            <li>$!phone400Num&nbsp;<span class="cgray f12">转</span>&nbsp;<i>$!info.tail</i></li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>
        <ul class="tab_type clearfix" id="comment">
            <li class="cur"><span onclick="loadComments(100)">全部评价<em>($!info.total)</em></span><i></i></li>
            <li><span onclick="loadComments(1)">非常满意<em>($!info.good)</em></span><i></i></li>
            <li><span onclick="loadComments(0)">满意<em>($!info.general)</em></span><i></i></li>
            <li><span onclick="loadComments(-1)">不满意<em>($!info.bad)</em></span><i></i></li>
        </ul>
        <p class="tr cgray from"><a href="http://www.cufs.com.cn/" target="_blank" class="cgray">用户评价由第三方专业机构<span><em
                class="hide">金融联</em></span>通过真实电话回访获得</a></p>
        <div class="comment_con" id="comment_con">

        </div>
    </div>
    <div class="main_btm"></div>
</div>
<div class="sidebar fr">
    <div class="side_top"></div>
    <div class="side_con">

        <div class="good_seller">
            <h4 class="msf"><a href="/$!category.name"
                               target="_blank">$!city.title$!category.title$!topTypeTitle商家</a></h4>
            <div class="seller_wrap">
                #foreach ($top in $!categoryTop3)
                    <div class="seller">
                        <a href="/company_comment/$!top.id"><img
                                src="http://i2.j.cn/$!top.getPicUrl()" width="65" height="65"/></a>
                        <dl>
                            <dt><a href="/${top.id}.html$!suffix" target="_blank" class="cred">$!top.name</a></dt>
                            <p class="gray_star">
                                <span class="smallstar s$!top.getStar()"></span>
                            </p></br>
                            <dd class="cgray" title="${top.mainTitle}">
                                $!top.mainTitleTruncate
                            </dd>
                        </dl>
                    </div>
                #end
            </div>
        </div>

        <div class="more">
            <span class="cred">$!totalCompanies</span>家$!city.title$!category.title服务信息
            <a class="cred" href="/$!category.name" target="_blank">
                更多>></span>
            </a>
        </div>
    </div>
    <div class="side_btm"></div>
    <div class="blank10"></div>
    <div class="side_top"></div>
    <div class="side_con">
        <h4 class="msf"><a href="/$!category.name" target="_blank">其他用户评价</a></h4>
        #foreach ($otherComment in $!otherComments)
            <ul class="r_comment">
                <li class="cgray">用户：$!otherComment.callerPhone</li>
                <li>
                    <p class="gray_star">
                        <span class="smallstar $!otherComment.getStarClass()"></span>
                    </p>
                    <br>
                </li>
                <li class="cgray">$!otherComment.chooseReason</li>
                <li>$!otherComment.comment</li>
                <li class="cgray">
                    $!dateUtil.StrDate('yyyy-MM-dd HH:mm:ss', $!otherComment.dealTime)
                    <a href="/${company.id}.html$!suffix" target="_blank">${otherComment.companyName}</a>
                </li>
            </ul>
        #end
        <div class="more">
            <span class="cred">${totalCategoryComments}</span>封${city.title}${category.title}点评
            <a class="cred" href="/userComment.htm?method=byCategory&&categoryId=${category.id}"
               target="_blank">更多>>
            </a>
        </div>
    </div>
    <div class="side_btm"></div>
</div>
</div>
#parse("./footer.vm")

<script src="/resources/js/jquery-1.4.2.min.js"></script>
<script src="/resources/js/jcarousellite_1.0.1.js"></script>
<script src="/resources/js/common.js"></script>
<script type="text/javascript">

    var company_id = '$!company.id';
    $(document).ready(function() {

        loadComments(100);

    });
    function loadComments(flag) {
        var url = "/company_comment/" + company_id + "/" + flag;
        var content = $("#comment_con");
        $.ajax({
            type: "get",
            url: url,
            data: "",
            success: function(htm) {
                content.html(htm);
                content.removeClass("hide");
            }
        });

    }
</script>

</body>
</html>
