<div class="header">
    <div class="wrap rela clearfix">
        <h1><a href="/" title="分分网">分分网</a></h1>
        <div class="city">
            #set($cityurl = $!cities.getFenfenUrl())
            <div class="city_name"><span class="f14 cred fb">$!cities.title</span>&ensp;[切换城市]</div>
            <div class="city_list clearfix">
                <p class="hot">热门城市：&emsp;<a href="http://bj.fenfen.com">北京</a>&emsp;<a href="http://sh.fenfen.com">上海</a>&emsp;<a href="http://gz.fenfen.com">广州</a>&emsp;<a href="http://sz.fenfen.com">深圳</a></p>
                <p>全部城市：</p>
                <ul class="c1">
                     #foreach($cmap in $!navCities.entrySet())
                        #if ($velocityCount<= 6)
                            <li><span>$cmap.key&emsp;</span>
                                #set ($cities = $cmap.value )
                                #foreach($city in $!cities)
                                        <a href="http://$!city.url">${city.title}</a>
                                #end
                                </li>
                        #end
                     #end
                    </c:forEach>
                </ul>
                <ul class="c2">
                    #foreach($cmap in $!navCities.entrySet())
                        #if ($velocityCount > 6 and $velocityCount<=12)
                        <li><span>$cmap.key&emsp;</span>
                            #set ($cities = $cmap.value )
                            #foreach($city in $!cities)
                                <a href="http://$!city.url">${city.title}</a>
                             #end
                        #end
                    </li>
                    #end
                </ul>
                <ul class="c3">
                    #foreach($cmap in $!navCities.entrySet())
                        #if ($velocityCount > 12)
                        <li><span>$cmap.key&emsp;</span>
                            #foreach($city in $cmap.value)
                            <a href="http://$!city.url">${city.title}</a>
                            #end
                        #end
                    </li>
                    #end
                </ul>
            </div>
        </div>
        <ul class="nav fl">
            #foreach($navChannel in $!navChannels)
                <li class="menu">
                    #if($velocityCount == 9)
                        #set($lastMenu='last_menu')
                    #else
                        #set($lastMenu='')
                    #end
                    #if($navChannel['categoryList'].size()>0)
                        <a href="javascript:void(0)" class="item"><span>$navChannel['channel'].title</span></a>
                        #if($navChannel['categoryList'].size()<=8)
                            <div class="submenu ${lastMenu}">
                                <ul>
                                    
                                    #foreach($ca in $navChannel['categoryList'])
                                        <li><a href="http://${cityurl}/${ca.name}/$!union">${ca.title}</a></li>
                                    #end
                                </ul>
                            </div>
                        #end
                        #if($navChannel['categoryList'].size()>8 and $navChannel['categoryList'].size()<=16)                            
                            <div class="submenu col2 ${lastMenu}">
                                <ul>
                                    #foreach($ca in $navChannel['categoryList'])
                                        #if($velocityCount<=8)
                                        <li><a href="http://${cityurl}/${ca.name}/$!union">${ca.title}</a></li>
                                        #end
                                    #end
                                </ul>
                                <ul class="nobor">
                                    #foreach($ca in $navChannel['categoryList'])
                                        #if($velocityCount>8)
                                            <li><a href="http://${cityurl}/${ca.name}/$!union">${ca.title}</a></li>
                                        #end
                                    #end
                                </ul>
                            </div>
                        #end
                        #if($navChannel['categoryList'].size()>16)
                            <div class="submenu col3 ${lastMenu}">
                                <ul>
                                    #foreach($ca in $navChannel['categoryList'])
                                        #if($velocityCount<=8)
                                            <li><a href="http://${cityurl}/${ca.name}/$!union">${ca.title}</a></li>
                                        #end
                                    #end
                                </ul>
                                <ul>
                                    #foreach($ca in $navChannel['categoryList'])
                                        #if($velocityCount>8 and $velocityCount<=16)
                                            <li><a href="http://${cityurl}/${ca.name}/$!union">${ca.title}</a></li>
                                        #end
                                    #end
                                </ul>
                                <ul class="nobor">
                                    #foreach($ca in $navChannel['categoryList'])
                                        #if($velocityCount>16)
                                            <li><a href="http://${cityurl}/${ca.name}/$!union">${ca.title}</a></li>
                                        #end
                                    #end
                                </ul>
                            </div>
                        #end
                    #end
                </li>
            #end
        </ul>
        <div class="search_box fr">
            <input type="hidden" id="itemtype" name="itemtype" value="fuwu" />
            <input type="hidden" id="cityname" name="cityname" value="${cities.title}" />
            <input type="hidden" id="category" name="category" value="category:${category.name}:channel:${channel.name}" />
            <input type="text" id="q" class="sea_in" onkeyup="if(event.keyCode==13)onsearchdatahead('');" /><button accessKey="s" onclick="onsearchdatahead('')" type="button">搜索</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function onsearchdatahead(suffix){
        var kw = document.getElementById("q"+suffix).value;
        var city = document.getElementById("cityname"+suffix).value;
        if(!kw) {
            return ;
        }

        var url;
        var base_url = '$!cityurl';
        var win = window;

        kw = encodeURIComponent(kw);

        url = "http://" + base_url + "/index.htm?method=query&channel=&cityname=%B1%B1%BE%A9" + "&function=fuwu&qkw="+ kw + "&e=utf-8";
        win.open(url);
    }


</script>
