<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>
        $!cities.title 分分网，分分钟解决生活难题 $!curCity.getFenfenUrl()
    </title>
    <meta name="description" content="$!cities.title 分分网（$!curCity.getFenfenUrl() ）——真实的用户评价，帮助消费者客观了解商家服务品质。中国领先的生活服务类精准营销平台，拥有详实的商家信息和真实的用户评价，基于PPC（按电话效果付费) 模式为商家提供展示和商机。" />
    <meta name="keywords" content="分分网, $!cities.title 分分网, $!cities.title 本地生活服务, $!cities.title 商家服务点评"/>
    <meta property="qc:admins" content="267566252766566566375" />
    <meta property="wb:webmaster" content="5ea8b407f2418279" />
    <link rel="stylesheet" href="/resources/css/style_home.css">
    <style type="text/css">
        .business_list li a.cred {
            color:#EC1A37;
        }
    </style>
</head>
<body>
#parse("./header.vm")
<div class="wrap mart20 clearfix">
    <div class="main fl">
        <!--热门行业开始-->
        <div class="index_host_ab_a">
            <div class="main_top"></div>
            <div class="mid clearfix">
                <h4 class="msf rela">热门行业</h4>

                <div id="categories_content">

                        #parse("parse/category/parse_categories.vm")

                </div>
            </div>

        </div>
        <div class="main_btm02"></div>
    <!--热门行业结束-->
    <!--最新点评开始-->
    <div class="main_top"></div>
    <div class="main_con">
        <div class="comment_con_host">
            <h6>最新点评</h6>

            #foreach($comment in $!comments)
                <div class="newpl_list clearfix">
                    <div class="imgxx msf">
                        <a href="http://$!curCity.getFenfenUrl()/${comment.companyId}.html" target="_blank" title="$!comment.companyName" style="font-size: 15px;1">
                            <img src="$!comment.getFullCompanyPicUrl()" width="120"
                                   height="110"/>$!comment.subCompanyName(8)
                        </a>
                    </div>
                    <ul>
                        <li class="cgray clearfix"><span class="fl">用户：$!comment.callerPhone</span><span class="cgray_time">$date.format("yyyy-MM-dd HH:mm", $!comment.dealTime)</span>
                        </li>
                        <li>
                            <p class="gray_star">
                                <span class="smallstar $!comment.getStarClass()"></span>
                            </p>
                        </li><br />
                        <li class="cgray">$!comment.keywords</li>
                        <li>
                            $!comment.userComment()
                        </li>
                    </ul>
                </div>
            #end

        </div>
    </div>
    <div class="main_btm"></div>
    <!--最新点评结束-->
</div>

<div class="sidebar fr">
    <div class="gg_w300">
        <img src="http://i2.j.cn/photo/20120927/708b909397f.jpg"/>
    </div>
    <div class="blank10"></div>
    <div class="side_top"></div>
    <div class="side_con">
        <h4 class="msf">热点活动</h4>
        <ul class="tips_list cgray">
            #foreach($new in $!news)
                <li><a href="$!new.Url" target="_blank">$!new.Title</a></li>
            #end
        </ul>
        <div class="blank10"></div>
    </div>
    <div class="side_btm"></div>
    <div class="blank10"></div>
    <div class="side_top"></div>
    <div class="side_con">
        <h4 class="msf">行业攻略</h4>
            <ul class="tips_list cgray">
                #foreach($note in $!notes)
                    <li><a title="$!note.title" target="_blank" href="http://$!curCity.getFenfenUrl()/${note.categoryUrl}">$note.title</a></li>
                #end
            </ul>

        <div class="blank10"></div>
    </div>
    <div class="side_btm"></div>
    <div class="blank10"></div>
    <div class="side_top"></div>
    <div class="side_con">
        <h4 class="msf">最新通话</h4>
        <ul class="newhone_list cgray">
            #foreach($phoneBill in $!indexPhones)
                <li>$phoneBill.showCallerPhone()
                    <span></span>
                    <a title="$!phoneBill.companyName" target="_blank" href="http://$!curCity.getFenfenUrl()/${phoneBill.companyId}.html">
                        $phoneBill.companyName()
                    </a>
                </li>
            #end
        </ul>
        <div class="blank10"></div>
    </div>
    <div class="side_btm"></div>
</div>
</div>
<!--最新收录开始-->
<div class="wrap mart10">
    <div class="full_top"></div>
    <div class="full_mid clearfix rela">
        <h4 class="msf f16">更新商家
            <a href="http://$!curCity.getFenfenUrl()/about/faq/submit" target="_blank" class="join">商家收录申请</a>
        </h4>
        <a href="javascript:void(0)" class="scroll_l abso"></a>
        <a href="javascript:void(0)" class="scroll_r abso"></a>

        <div class="recruit clearfix" id="recruit">
            <ul class="clearfix">
                #foreach($company in $!latestCompany)
                    <li class="seller">
                        <a target="_blank" href="http://$!curCity.getFenfenUrl()/${company.Id}.html"><img src="http://i2.j.cn/$!company.mainPic" width="60" height="55"/></a>
                        <dl>
                            <dt><a href="http://$!curCity.getFenfenUrl()/${company.Id}.html" target="_blank">$!company.Name</a></dt>
                            <dd class="cgray">$!company.mainTitle</dd>
                        </dl>
                    </li>
                #end
            </ul>
        </div>
    </div>
    <div class="full_btm"></div>
</div>
<!--汽车行业结束-->
<!--友情链接-->
<div class="wrap mart10">
    <div class="pater_link">
        <h4 class="msf f16">友情链接</h4>

        <div class="pater_link_ture">
            <ul class="cooperation">
                #foreach($link in $!friendLinks)
                    <li><a target="_blank" href="$!link.Url">$!link.Name</a></li>
                #end
            </ul>
        </div>
    </div>
</div>
<!--友情链接结束-->
#parse("./footer.vm")
<a href="javascript:void(0)" title="回到顶部" class="home abso" onclick="Top();" id="goTop">回到顶部</a>
<a href="javascript:void(0)" title="收藏" class="addfav abso" onclick="addbookmarksite();setCookie('ff_index','yes');"><span class="rela">现在就收藏本页，方便以后查找！</span><i></i></a>
<a href="http://$!curCity.getFenfenUrl()/about/feedback" target="_blank" title="我要提建议" class="suggest abso">给我们提提建议</a>
<div class="msgbox clearfix" id="favBox">
    <p class="f14 fb">现在就收藏本页，方便以后查找！<br /><span class="cred">分分网-$!curCity.title</span></p>
    <a href="javascript:void(0)" onclick="closeMsg('favBox');$('#mask').remove();addbookmarksite();setCookie('ff_index','yes');" class="btn_addfav">点击收藏</a>
    <a href="javascript:void(0)" onclick="closeMsg('favBox');$('#mask').remove();" class="cblue abso closefav">我知道了&times;</a>
</div>
<script src="/resources/js/jquery-1.4.2.min.js"></script>
<script src="/resources/js/jcarousellite_1.0.1.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/index.js"></script>
<script type="text/javascript">

    var city_id = "$!cityId";
    var category_url = "/home/categories";

    function showAll() {
        var content = $("#categories_content");
        $.ajax({
            url: category_url,
            data: "c=" + city_id,
            success: function(data) {
                content.html(data);
                if(category_url === "/home/categories") {
                    category_url = "/home/hot_categories"
                } else {
                    category_url = "/home/categories";
                }
            }
        });

    }
</script>
</body>
</html>
