<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>kreator</servlet-name>
        <servlet-class>com.langtaojin.kreator.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>modules</param-name>
            <param-value>com.langtaojin.kreator.BlogModule</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ico</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>kreator</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>timingFilter</filter-name>
        <filter-class>com.langtaojin.kreator.filter.TimingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>timingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- session超时定义,单位为分钟 -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>
